<div class="wrapper">
  <div class="top">
    <button (click)="startStopLoopAudio()">
      @if (playLoop) {
        <img src="assets/icons/volume_up.svg" alt="Start Audio Loop" />
      } @else {
        <img src="assets/icons/volume_off.svg" alt="Start Audio Loop" />
      }
    </button>
  </div>
  <main class="m">
    <div class="column left">
      @for (q of leftList; track q) {
        <button class="item clickable selectable" [class.selected]="isQSelected(q)" [class.correct-selected]="isDone(q)"
          [class.wrong-selected]="isLeftWrong(q)" (click)="selQ(q)">{{ q.first }} *
        {{q.second}}</button>
      }
    </div>
    <div class="column right">
      @for (q of rightList; track q) {
        <button class="item clickable selectable" [class.selected]="isASelected(q)" [class.correct-selected]="isDone(q)"
          [class.wrong-selected]="isRightWrong(q)" (click)="selA(q)">{{ q.first * q.second
        }}</button>
      }
    </div>

  </main>
  <div class="bottom">
    @if (allIsDone()) {
      <div>
        <button class="item clickable selectable next-button" (click)="next()">Nästa</button>
      </div>
    }
  </div>
</div>
