.wrapper {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
    height: 100%;
    background: rgb(186, 186, 186);

}
.icon {
    fill: black;
    height: 50px;
    width: 50px;    
}
button {
    background-color: transparent;
    border: none;
}

main {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 100%;
}

.column {
    padding: 0px;
    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
}

.selectable {
    background: rgb(120, 120, 120);
    border: 7px solid rgb(59, 59, 59);

}

.selected {
    border: 7px solid rgb(14, 14, 14);
}

.correct-selected {
    background: rgb(70, 255, 70);
    border: 7px solid rgb(0, 180, 0);
}
.wrong-selected {
    background: rgb(255, 70, 70);
    border: 7px solid rgb(180, 0, 0);
}

.item {
    width: 90%;
    height: 15%;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    border-radius: 10rem;
}

.next-button {
    height: 5rem;
}